body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f4f4f4;
}

header{
    background:#7ee1ff;
    color:white;
    text-align:center;
    padding:30px;
}

.container{
    width:80%;
    margin:30px auto;
}

.card{
    background:white;
    margin-bottom:20px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

button{
    padding:10px 20px;
    border:none;
    background:#2196F3;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#1565C0;
}

.dark-mode{
    background-color:#222;
    color:white;
}

.dark-mode .card{
    background:#333;
    color:white;
}

.dark-mode header{
    background:#111;
}